<div class="centered-container">
	<p></p>
	<p></p>
	<h1>Authentication</h1>

	<div *ngIf="mode === 'tasks'">
		<button class="btn btn-primary button-spacing" (click)="setMode('login')"><i class="fas fa-sign-in-alt"></i>
			Login</button>
		<button class="btn btn-primary button-spacing" (click)="setMode('register')"><i class="fas fa-user-plus"></i>
			Register</button>
	</div>

	<div *ngIf="mode !== 'login' && mode !== 'register'">
		<video autoplay loop muted class="background-video">
			<source src="assets/book.mp4" type="video/mp4">
			O seu navegador não suporta a tag de vídeo.
		</video>
	</div>

	<div *ngIf="mode === 'register'">
		<br>
		<h3>Register</h3>
		<br>
		<form (ngSubmit)="onRegister()">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input matInput id="register-username" [(ngModel)]="registerData.username" name="registerUsername"
					required>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput id="register-email" type="email" [(ngModel)]="registerData.email" name="registerEmail"
					required>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput id="register-password" type="password" [(ngModel)]="registerData.password"
					name="registerPassword" required>
			</mat-form-field>

			<div class="button-container">
				<button class="btn btn-success button-spacing" type="submit">
					<i class="fas fa-user-plus"></i> Register
				</button>
				<button class="btn btn-secondary button-spacing" type="button" (click)="setMode('tasks')">
					<i class="fas fa-times"></i> Cancel
				</button>
			</div>
		</form>

		<div *ngIf="errorMessage" class="alert alert-danger mt-3 error-message">{{ errorMessage }}</div>
		<div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
	</div>

	<div *ngIf="mode === 'login'">
		<br>
		<h3>Login</h3>
		<br>
		<form (ngSubmit)="onLogin()">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput id="login-email" type="email" [(ngModel)]="loginData.email" name="loginEmail" required>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput id="login-password" type="password" [(ngModel)]="loginData.password"
					name="loginPassword" required>
			</mat-form-field>

			<div class="button-container">
				<button class="btn btn-success button-spacing" type="submit">
					<i class="fas fa-user-plus"></i> login
				</button>
				<button class="btn btn-secondary button-spacing" type="button" (click)="setMode('tasks')">
					<i class="fas fa-times"></i> Cancel
				</button>
			</div>
		</form>

		<div *ngIf="errorMessage" class="alert alert-danger mt-3 error-message">{{ errorMessage }}</div>
		<div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
	</div>
</div>