
  .button-spacing {
	margin: 5px; /* Espaçamento entre os botões */
  }
  
  .input-small {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 50px; /* Espaço de 20px entre os campos de entrada */
  }
  
  .error-message {
	white-space: pre-line; /* Preserva as quebras de linha na string */
  }





  .centered-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
	text-align: center;
	max-width: none; /* Adicione esta linha */
  }
  
  form {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 355px; /* Tente usar min-width em vez de max-width */
	margin: 0 auto;
  }
  
  mat-form-field {
	width: 100%;
	min-width: 325px; /* Force a largura mínima também nos campos */
	margin-bottom: 15px;
  }